* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Khula, sans-serif;
}

/* Container */ 

.container {
  width: 1170px;
  margin: 0 auto;
}

/* Header */

.header {
  margin-top: 32px;
  
}

.header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__list__item {
  display: inline-block;
  
}

.header__list__item__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22.8px;
  color: #828282;
  font-family: Khula, sans-serif;
  font-weight: 700;
}

.active__link {
  color: black;
}


/* Header Section */

.header_section  {
  margin-top: 31px;
}

hr {
  background-color: black;
  
}

/* Section Name */ 

.section_name {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_name_bigtitle {
  width: 123px;
  height: 118px;
  font-family: Khula, sans-serif;
  line-height: 60px;
  font-size: 48px;
}

.section_name_centertitle {
  font-family: Khula, sans-serif;
  font-family: 18px;
  width: 155px;
  height: 44px;
  color: black;
  font-weight: 700;
  
}

.section_name_rotatetitle {
  font-size: 16px;
  color: black;
  font-weight: 700;
  font-family: Khula, sans-serif;
  transform: rotate(-90deg);
  
} 

.section_name_rotatetitle_spantext {
  color: #828282;
}

/* Header Background */

.header_background {

}

.header_background_image {
  background-image: url(../img/header_bg.png);
  height: 387px;
  background-size: cover;
  background-position: center;
  margin-top: 50px;

}

/* Section About */

.about {
  height: 500px;
  background-color: #F6F6F6;
  margin-top: 105px;
}

.aboutme {
  height: 500px;
  text-align: center;
}

.aboutme_title_box {
  display: flex;
  justify-content: center;
 
}

.aboutme_title_box_text {
  font-size: 34px;
  line-height: 42px;
  font-family: Khula, sans-serif;
  font-weight: 700;
  margin-top: 120px;
}

.aboutme_title_box_pr {
  text-align: center;
  margin-top: 17px;
  margin-bottom: 107px;
  
}

.aboutme_title_box_ptext {
  font-family: Khula, sans-serif;
  margin-top: 41px;
  font-size: 18px;
  color: black;

}

/* Skills Section  */

.skills {

}

.skills__text {
  margin-top: 91px;
  text-align: center;
  font-size: 34px;
  color: black;
  font-family: Khula, sans-serif;
  font-weight: 700;
 
}

.skills__text__paragraph {
  font-size: 18px;
  font-family: Khula, sans-serif;
  line-height: 22px;
  text-align: center;
  margin-top: 69px;
}

.skills__layout {
  height: 207px;
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.skills__layout__items {
  height: 206px;
  width: 166px;
  text-align: center;
  
}

.skills__layout__items__text {
  color: #828282;
  font-family: Khula, sans-serif;
  font-size: 14px;
  width: 70px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  line-height: 17px;
}

.skills__layout__items__stars {
  margin-top: 40px;
}

.skills__layout__items__text__after {
  font-family: Khula, sans-serif;
  font-size: 14px;
  color: #828282;
  line-height: 17px;
  
  width: 79px;
  margin: 0 auto;
  margin-top: 24px;
  

}

.skills__layout__items__stars__after {
  margin-top: 41px;
}

.skills__layout__items__text__circle {
  font-size: 14px;
  line-height: 17px;
  font-family: Khula, sans-serif;
  margin-top: 24px;
  color: #828282;
  height: 35px;
}

/* PORTFOLIO SECTION  */

.portfolio {
  height: 2000px;
  background-color: #F6F6F6;
  margin-top: 111px;
}

.port_section {
  height: 2253px;
}

.port_section_titlebox {
  display: flex;
  justify-content: center;
}

.port_section_titlebox_text {
  margin-top: 112px;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
}

.portfolio_1 {
  width: 100%;
  margin-top: 47px;
}


.portfolio_1_link {
  font-size: 18px;
  line-height: 22px;
  color: black;
  text-decoration: underline;
}

.port_link_webpage {
  text-align: center;
  margin-top: 44px;
}

.port1_another {
  margin-top: 100px;
}

.port2_another {
  margin-top: 100px;
}


/* Footer */ 

.footer {

}

.footer_text {
  font-size: 34px;
  line-height: 42px;
  margin-top: 114px;
  text-align: center;
}

.footer_minitext {
  width: 275px;
  height: 44px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: 700;

}

.footer_button_box {
  text-align: center;
  
}

.footer_button {
  margin-top: 42px;
  background-color: #070707;
  color: white;
  width: 180px;
  height: 42px;
  border-radius: 42px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 200;
}

.footer_button:hover {
  cursor: pointer;
}

.icons {
  width: 345px;
  height: 45px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.footer_bottom_text {
  width: 243px;
  height: 34px;
  margin: 0 auto;
  margin-top: 46px;
  text-align: center;
  font-size: 14px;
  color: #828282;
  line-height: 17px;
}