/* Content Section */


.content__menu {
  padding-top: 41px;
  border-bottom: 5px solid #e9e9e9;
  
  padding-bottom: 45px;
}

.content__menu__box {

}
.content__menu__box__menu {
  display: flex;
}
.content__menu__box__menu__li {
  padding-bottom: 25px;
  border-bottom: 5px solid #f1f1f1;
}

.content__menu__box__menu__li:hover {
  border-bottom: 5px solid red;
  cursor: pointer;
}
.content__menu__box__link {
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #2e2e2e;
  margin-left: 20px;
  
  
}

.long__link__text {
  padding-right: 140px;
}

.content__menu__box__link:hover {
  color: #9f9f9f;
}



.homepage__link {
  margin-left: 0;
}


.content__menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
}
.nobody__block {
  display: flex;
  flex-direction: column;
  width: 215px;
  height: 57px;
}
.nobody__title {
  font-size: 36px;
  line-height: 43px;
  color: #2e2e2e;
  
}
.nobody__descr {
  font-size: 12px;
  color: #9f9f9f;
  line-height: 14px;
  margin-top: 10px;
}
.content__search {

  
}

.content__search__area {
  width: 200px;
  border: none;
  background-color: #f1f1f1;
  padding: 10px;
  outline: none;
}

.content__search__area::placeholder {
  color: #999999;
  font-size: 12px;
  
}
.content__search__btn {
  padding: 10px;
  
  border: none;
  outline: none;
  background-color: #0099ff;
  border-radius: 5px;
  
}

.content__search__btn a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  
}