/* Header */

.header {
  background-color: #2e2e2e;
  
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-right: 9px;
}
.header__box__menu {
  
}
.header__box__menu__li {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  
}
.header__box__menu__link {
  text-decoration: none;
  
  color: #9f9f9f;
}
.header__box__contact {


}

.header__box__contact__link {
  
  
  text-align: center;
}



.header__box__contact__link + .header__box__contact__link {
  margin-left: 20px;
  
}

.header__box__contact__item {

  display: inline-block;
  background-color: #787878;
  padding: 10px;
  border-radius: 10px;
  
}

.header__box__contact__item:hover {
  background-color: red;
  transform: scale(1.1);
}