@font-face {
  font-family: Gilroy-Black;
  src: url("../fonts/gilroy/Gilroy-Black.ttf");
}

@font-face {
  font-family: Gilroy-BlackItalic;
  src: url("../fonts/gilroy/Gilroy-BlackItalic.ttf");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("../fonts/gilroy/Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy-BoldItalic;
  src: url("../fonts/gilroy/Gilroy-BoldItalic.ttf");
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url("../fonts/gilroy/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: Gilroy-ExtraBoldItalic;
  src: url("../fonts/gilroy/Gilroy-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Gilroy-Heavy;
  src: url("../fonts/gilroy/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: Gilroy-HeavyItalic;
  src: url("../fonts/gilroy/Gilroy-HeavyItalic");
}

@font-face {
  font-family: Gilroy-Light;
  src: url("../fonts/gilroy/Gilroy-Light.ttf");
}

@font-face {
  font-family: Gilroy-LightItalic;
  src: url("../fonts/gilroy/Gilroy-LightItalic.ttf");
}

@font-face {
  font-family: Gilroy-Medium;
  src: url("../fonts/gilroy/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gilroy-MediumItalic;
  src: url("../fonts/gilroy/Gilroy-MediumItalic.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("../fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy-RegularItalic;
  src: url("../fonts/gilroy/Gilroy-RegularItalic.ttf");
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url("../fonts/gilroy/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: Gilroy-SemiBoldItalic;
  src: url("../fonts/gilroy/Gilroy-SemiBoldItalic.ttf");
}

@font-face {
  font-family: Gilroy-Thin;
  src: url("../fonts/gilroy/Gilroy-Thin.ttf");
}

@font-face {
  font-family: Gilroy-ThinItalic;
  src: url("../fonts/gilroy/Gilroy-ThinItalic.ttf");
}

@font-face {
  font-family: Gilroy-UltraLight;
  src: url("../fonts/gilroy/Gilroy-UltraLight.ttf");
}

@font-face {
  font-family: Gilroy-UltraLightItalic;
  src: url("../fonts/gilroy/Gilroy-UltraLightItalic.ttf");
}